.sub-menu {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 68, 124);
}

.sub-menu img {
    width: 130px;
    height: 130px;
}

.submenu-text p {    
    display: inline-block;
    margin-right: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;  
    font-size: 20px;
}

.submenu-text h1 {    
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    color: white;
    text-align: center; 
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin-bottom: 120px;
}

.imagen-con-texto {
    position: relative; 
    width: 500px;
    height: 400px; 
    margin: 16px;
    transition: transform 0.3s; 
}

.imagen-con-texto:hover {
    transform: scale(1.1); 
}

.imagen-con-texto img {
    display: block; 
    width: 100%; 
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 90, 165); 
}

.footer-section {
    width: 100%;
    background-color: rgb(7, 68, 124);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0;
}

.footer-section a {
    color: rgb(47, 155, 255);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.content {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.menu {
    background-color: #1a1a2e;
    color: white;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.menu-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.contact-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 30px 0; 
    width: 100%; 
    min-height: 80vh;
}

.title-text {
    margin-top: 20px; 
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.circle-container {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    gap: 490px; 
    margin: 20px 0; 
    flex-wrap: wrap; 
    width: 80%; 
}

.circle {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: -50px;
    background-color: gray;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.icon img {
    width: 75px;
    height: 75px;
    filter: sepia(1) saturate(8) hue-rotate(170deg);
}

.square-container {
    display: flex; 
    flex-direction: row;
    gap: 100px;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 50px; 
}

.contact-square {
    background-color: rgb(37, 147, 250);
    width: 550px;
    height: 800px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding-right: 30px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.contact-square ul {
    color: white;
    font-size: 45px;
    text-align: center;
    list-style-type: none;
    padding: 0 -10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-square li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 50px 0;
}

.contact-form {
    background-color: rgb(37, 147, 250);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-bottom: 50px;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
}
.contact-form input,.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}
.contact-form button {
    background-color: rgb(7, 68, 124);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.contact-form button:hover {
    transform: scale(1.1);
}

.topic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 25px;
}
 
.topic-container img {
    margin-top: 10px;
    width: 1500px;
    height: 700px;
}

.topic-photo {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    width: 1500px; /* O usa un ancho mayor, como 1100px */
    height: auto;
    margin-bottom: 30px;
    justify-content: space-between; /* Asegura espacio entre columnas */
}

.topic-column {
    height: auto;
    width: auto; 
}

.topic-column img {
    width: 700px; 
    height: auto; 
    margin-left: 150px;
}

.topic-column p{
    color: white;
    
}

.topic-container > ol > li {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.topic-container p, ul {
    color: white;
    font-size: 30px;
}

.degree-container {
    margin-top: 40px;
    display: flex; 
    gap: 150px;
    margin-bottom: 40px;
}

.degree-box {
    background-color: rgb(37, 147, 250);
    width: 750px;
    height: auto;
    margin: 40px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: justify; 
}

.degree-box h1 {
    margin-top: 20px; 
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.degree-box p {
    margin-top: 20px; 
    margin-bottom: 30px;
    font-size: 35px;
}

.degree-box ul {
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.degreecv-container {
    background-color: rgb(37, 147, 250);
    width: 1500px;
    height: auto;
    margin: 40px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: justify;
    margin-bottom: 80px;
}

.degreecv-column {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.column {
    width: 90%; 
    height: auto;
    background-color: rgb(10, 90, 165);
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 40px auto; 
    padding-right: 25px;
}

.column h3 {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

.column p{
    font-size: 35px;
    padding: 20px;
}

.degreecv-container h1 {
    margin-top: 20px; 
    margin-bottom: 30px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center
}

.degreecv-container h2 {
    margin-top: 20px; 
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    transition: transform 0.3s ease;
}

.degreecv-container h2:hover {
    transform: scale(1.1);
}

.net-container {
    text-align: center;
    color: white;
}

.net-circle {
    position: relative;
    height: auto;
    width: 800px;
    height: 800px;
    margin-top: 150px;
    border: 7px solid rgb(7, 68, 124);
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 50px; 
    color: white; 
    font-family: 'Times New Roman', Times, serif;
}

.person {
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 68, 124);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.person:hover {
    transform: scale(1.1);
}

.person img {
    margin-top: 30px;
    margin-bottom: -10px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
}

#miguel {
    top: 20%;
    right: -15%;
}

#fer {
    top: 20%;
    left: -15%;
}

#beltran {
    bottom: 0%;
    left: 0%;
}

#me {
    top: -12%;
    left: 33%;
}

#gonz {
    bottom: 0%;
    right: 0%;
}

.about-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    margin-bottom: 40px;
    width: 1500px;
    height: 500px;
    border-radius: 10px;
}

.about-image img{
    width: 400px;
    height: 520px;
    border-radius: 10px;
    margin-inline: 50px;
    margin-bottom: 100px;
}

.about-subcontainer{
    background-color: rgb(37, 147, 250);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: auto;
}

.about-subcontainer p{
    font-size: 35px;
    margin: 25px;
}

.about-subcontainer h1{
    font-size: 45px;
    margin: 25px;
}

.cv-container{
    background-color: rgb(37, 147, 250);
    border-radius: 10px;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.cv-container ul, h2{
    color: white;
    margin-inline: 20px;
    font-size: 30px;
}

.cv-circle{
    width: 200px;
    height: 200px;
    background-color: rgb(7, 68, 124);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-circle img{
    border-radius: 50%;
    width: 175px;
    height: 175px;   
}

.sn-container{
    display: flex;
    width: 1000px;
    height: 200px;
    flex-direction:row ;
    background-color: rgb(37, 147, 250);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    gap: 100px;
    color: white;
}

.sn-circle{
    width: 150px;
    height: 150px;
    background-color: rgb(7, 68, 124);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.sn-circle:hover {
    transform: scale(1.1);
}

.sn-circle img{
    filter: grayscale(95%);
    height: 100px;
    width: 100px;
}

.sn-title{
    color:white;
    font-size: 25px;
    margin: 5px;
    margin-top: -45px;
}